{%extends 'CensusChoropleth/select.html'%}
{% block content %}

{% load static %}
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
<script src="https://leafletjs.com/examples/choropleth/us-states.js"></script>
<script src="{%static 'map.js'%}" defer></script>

<style>
    .info {
        padding: 6px 8px;
        font: 14px/16px Arial, Helvetica, sans-serif;
        background: white;
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
    }

    .hover {
        padding: 6px 8px;
        font: 14px/16px Arial, Helvetica, sans-serif;
        text-align: center;
        color: #555;
    }

    h4 {
        margin: 0 0 5px;
        color: #555;
    }

    .legend {
        line-height: 18px;
        color: #555;
    }

    .legend i {
        width: 18px;
        height: 18px;
        float: left;
        margin-right: 8px;
        opacity: 0.7;
    }
</style>

<div id="map" class="map"></div>
<script>
    var raw_data = '{{data|escapejs}}';
    
    var leg_vals = JSON.parse('{{ leg_vals|escapejs }}')
    

    const urlParams = new URLSearchParams(window.location.search);
    var geo_level = urlParams.get("geolevel");
    var characteristic = urlParams.get("characteristic");

    char_select = document.getElementById("characteristic");
    char_select.value = characteristic;

    geo_select = document.getElementById("geolevel");
    geo_select.value = geo_level;
</script>

{% endblock %}