{%extends 'CensusChoropleth/select.html'%}
{% block content %}

<style>
    .info {
        padding: 6px 8px;
        font: 14px/16px Arial, Helvetica, sans-serif;
        background: white;
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
    }

    .hover {
        padding: 6px 8px;
        font: 14px/16px Arial, Helvetica, sans-serif;
        text-align: center;
        color: #555;
    }

    h4 {
        margin: 0 0 5px;
        color: #555;
        font-size: medium;
    }

    .legend {
        line-height: 18px;
        color: #555;
    }

    .legend i {
        width: 18px;
        height: 18px;
        float: left;
        margin-right: 8px;
        opacity: 0.7;
    }

    .map {
        flex-grow: 1;
    }

    .container {
        height: 90vh;
        display: flex;
        flex-direction: column;
    }

    select {
        max-width: 60%;
        /* So it doesn't overflow from it's parent */
    }

    option {
        /* wrap text in compatible browsers */
        -moz-white-space: pre-wrap;
        -o-white-space: pre-wrap;
        white-space: pre-wrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border-bottom: 1px solid #DDD;
    }

    .column {
        flex: 50%;
    }

    .row {
        display: flex;
    }

    .center {
        text-align: center;
    }
</style>

{% load static %}
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
<script src="https://leafletjs.com/examples/choropleth/us-states.js"></script>
<script src="{%static 'map.js'%}" defer></script>



<div id="map" class="map"></div>
<script>
    var raw_data = '{{data|escapejs}}';

    var leg_vals = JSON.parse('{{ leg_vals|escapejs }}')


    const urlParams = new URLSearchParams(window.location.search);
    var geo_level = urlParams.get("geolevel");
    var characteristic = urlParams.get("characteristic");
    // Homepage
    if (!characteristic){
        characteristic = "Population, 2021"
    }
    if (!geo_level){
        geo_level = "Provinces and Territories"
    }

    char_select = document.getElementById("characteristic");
    char_select.value = characteristic;
    
    geo_select = document.getElementById("geolevel");
    geo_select.value = geo_level;
</script>

{% endblock %}